services:
    web:
        environment:
            - SECRET_KEY=${SECRET_KEY}
            - AUTH_TOKEN=${AUTH_TOKEN}
        build: .
        command: python manage.py runserver 0.0.0.0:8000
        volumes:
            - .:/code
        ports:
            - "8000:8000"