{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">DEIPet <i class="fas fa-paw"></i></h1>
        <p class="lead">A pet archive built on top of the PetStore API.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Pet list</h5>
                    <p class="card-text">See the pet list already stored in the API.</p>
                    <a href="pets/" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add your pet</h5>
                    <p class="card-text">Add your own pet to the API.</p>
                    <a href="add/" class="btn btn-primary">Go<a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
