{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>DEIPet</title>
</head>

<body>
    <div class="container">
        <div class="float-right">
            (ID {{ pet.id }})
            <button type="button" class="btn btn-danger">Delete</button>
        </div>
        <h2>{{ pet.name }}</h2>

        <div class="row">
            {% for url in pet.imageUrls %}
            <div class="col no-gutters">
                <img src="{{ url }}" class="img-fluid rounded" alt="">
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>