{% extends 'base.html' %}

{% block content %}
<table class="table table-hover table-sm mb-0">
    {% if pets|length > 0 %}
    {% with first_pet=pets|first last_pet=pets|last %}
    <caption>List of pets ({{ first_pet.id }} to {{ last_pet.id }})</caption>
    {% endwith %}
    {% endif %}
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Picture</th>
        <th scope="col">Details</th>
    </tr>
    </thead>
    <tbody>

    {# Add an entry to the table for each pet #}
    {% for pet in pets %}
    <tr>
        <th scope="row">{{ pet.id }}</th>
        <td>{{ pet.name }}</td>
        <td style="width: 25%">
            <img src="{{ pet.imageUrls.0 }}" class="figure-img rounded mb-0" alt="" style="max-height: 50px;">
        </td>
        <td style="width: 15%">
            <a href="{{ request.path }}{{pet.id}}/" class="btn-sm btn-primary" role="button">
                Details
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% if prevOffset != offset %}
<a href="{{ request.path }}?offset={{prevOffset}}&limit={{limit}}" class="btn btn-primary" role="button">Previous</a>
{% endif %}
{% if nextOffset != offset %}
<a href="{{ request.path }}?offset={{nextOffset}}&limit={{limit}}" class="btn btn-primary float-right" role="button">Next</a>
{% endif %}
{% endblock %}
